# Dependency cache (local Bundler gems)
/vendor/bundle

# Environment variables & credentials
/.env
/.env.local
/config/master.key
/config/credentials/*.key

# Logs & temporary files
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep

# System & editor files
.DS_Store
.vscode/
.idea/
